.banner {
  margin-top: -4px;

  .container-banner {
    background-size: 100% 100%;
    padding: 60px 30px;
    object-fit: cover;
    background-image: url("/images/banner.png");
  }

  .effect-banner {
    background-image: linear-gradient(white, gray);
    padding: 5%;
  }
}

.content {
  width: 45%;
  padding-left: 22px;
  align-items: center;
  line-height: 2;

  .content-title {
    font-family: UTM BryantLG;
    font-weight: 900;
    font-size: 40px;
  }

  .content-item {
    align-items: center;
    color: #11114E;
    text-transform: capitalize;
    font-size: 40px;
  }

  .content-description {
    width: 63%;
    font-size: 25px;
  }

  .content-btn {
    margin-top: 26px;
    width: 70%;
    background: $main-color;
    border: 1px solid $main-color;
    border-radius: 42px;
    border-top: solid gray;
    text-align: center;

    a {
      text-decoration: none;
      color: white;
      text-transform: capitalize;
      font-size: 30px;
      padding: 0 10px;
    }
  }
}

.message-display {
  position: fixed;
  width: 35%;
  z-index: 3;
  right: 0;
  top: 50vh;

  .content {
    font-family: $font-main;
    background-color: white;
    display: block;
    width: 100%;
    border-radius: 1rem;
    margin: -1rem;
    box-shadow: 0px 0px 8px 0px #00000040;

    &.active {
      display: none;
    }
  }

  .jquery-message-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    margin-top: 2rem;

    i {
      transform: scale(2.25);
    }
  }
}

.content-detail {
  margin-left: -1.8rem;

  .close {
    margin-top: -1rem !important;
  }

  .message-icon {
    float: left;
    margin: 0.5rem;
  }

  .message-content {
    text-align: left;
    width: 80%;
    margin-left: 5rem;
    padding: 0.5rem;
    background-color: $gray-message;
    border-radius: 1rem;
    line-height: 1.5;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .message-btn-login {
    display: block;
    width: 85%;
    margin: 1rem 4rem;
    border-radius: 1rem;
  }

  .chat {
    text-decoration: none;
    color: #B3B3B3;
    font-size: 12px;
    text-align: center;
    margin-left: 10rem;
  }
}

.message-btn-login {
  .message-link {
    text-decoration: none;
    color: white;
  }
}

@media (max-width: 1106px) {
  .content {
    width: 50%;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  .banner {
    margin-top: -27px;
  }

  .container-banner {
    .content {
      width: 65%;

      .content-item {
        font-size: 30px;
      }

      .content-title {
        font-size: 30px;
      }

      .content-description {
        font-size: 16px;
      }

      .content-btn {
        width: 50%;
        font-size: 16px;
      }
    }
  }

  .message-display {
    width: 45%;

    .content {
      .content-detail {
        margin-left: -1.9rem;

        .chat {
          margin-left: 6rem;
        }
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 576px) {
  .banner {
    position: relative;
  }

  .content {
    width: 100%;
    position: absolute;
    bottom: 5rem;

    .content-item {
      font-size: 25px;
    }

    .content-title {
      font-size: 25px;
      font-family: 'UTM BryantLGB';
      font-weight: 900;
    }

    .content-description {
      width: 70%;
      font-size: 16px;
    }

    .content-btn {
      margin-top: 0px;
      width: 88%;
      margin-top: 10px ;
    }
  }

  .effect-banner {
    height: 20rem;
  }

  .message-display {
    width: 50%;

    .content {
      .content-detail {
        margin-left: -1.9rem;

        .message-content {
          margin-left: 3rem;
          font-size: 12px;
        }

        .message-btn-login {
          margin-left: 2rem;
          font-size: 12px;
        }

        .chat {
          font-size: 12px;
          margin-left: 1rem;
        }
      }
    }
  }
}
