.list-course {
  background-color: $gray-background;

  .container-fluid {
    .course-search {
      align-items: center;
      margin: auto;
    }
  }
}

.course-search {
  .button-filter {

  }

  .box-search {
    .box-search-text {

    }

    .box-search-botton {

    }
  }
}